body {
  background-color: blue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.allDiv {
  background-color: mediumpurple;
  text-align: center;
  height: 30%;
  padding: 30px 50px 250px 50px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn {
  background-color: skyblue
}

#questionHolder {
  background-color: mediumpurple;
  text-align: center;
  width: 800px;
  max-width: 80%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  gap: 10px;
  margin: 20px 0;
}

.btn {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 10px 10px;
}

.btn:hover {
  border-color: black
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.hide {
  display: none;
}

#clock {
  height: 100px;
  width: 100px;
  background-color: tomato;
  margin: 0px 0px 400px 50px;
  text-align: center;
  display: block;
}

#alert {
  display: inline-block;
  margin: 10px;
}

#saveBtn {
  margin: 20px;
}

@media screen and (max-width: 576px) {
  #clock {
    width: 150px;
  }
}

@media screen and (max-width: 576px) {
  #divIntro {
    width: 150px;
  }
}

@media screen and (max-width: 576px) {
  .card {
    width: 150px;
  }
}